/* font for 300px */
@font-face {
    font-family: p-Thin;
    src: url(Poppins-Thin.ttf);
}
/* font for 400px */
@font-face {
    font-family: p-Regular;
    src: url(Poppins-Regular.ttf);
}
/* font for 500px */
@font-face {
    font-family: p-Medium;
    src: url(Poppins-Medium.ttf);
}
/* font for 600px */
@font-face {
    font-family: p-SemiBold ;
    src: url(Poppins-SemiBold.ttf);
}
/* font for 700px */
@font-face {
    font-family: p-Bold;
    src: url(Poppins-Bold.ttf);
}
/* font for 800px */
@font-face {
    font-family: p-ExtraBold;
    src: url(Poppins-ExtraBold.ttf);
}
.p-Thin{
    font-family: p-Thin;
}
.p-Regular{
    font-family: p-Regular;
}
.p-Medium{
    font-family: p-Medium;
}
.p-SemiBold{
    font-family: p-SemiBold;
}
.p-Bold{
    font-family: p-Bold;
}
.p-ExtraBold{
    font-family: p-ExtraBold;
}


:root{
    --secondary-color: #fa8305;
    --black-7: #000;

}
.bg-color-box{
    background-color: #1C140F;
}
.bg-gradiant{
    background-color: #3B2A9F;
}
.primary-100{
    color: #5141AA;
}
.bg-primary-100{
    background-color: #5141AA;
}
.bg-secondary-color{
    background-color: #FA8305;
}
.text-bg-secondary-color{
    color: #FA8305;
}
a{
    text-decoration: none;
    color: white;
}
.card-no-bg {
    background-color: transparent ;
    border: none ;
}
.no-border {
    border-bottom: none !important;
    border: none;
}
.no-hover-color:hover{
    color: #FA8305;
    background-color: #FA8305;
}
.pic-size{
    width: 300px;
    height: 200px;
}
.h-200{
    height: 200px;
}
.hover:hover{
    font-size: 17px;
}
.opacity:hover{

    opacity: 0.5;
}
.no-bg{
    background-color: #3B2A9F;
}

#unity{
    position: relative;
    width: 96px;
    height: 30px;
    /* top: 409px;
    left: 649px; */
    gap: 0px;
    opacity: 0px;
    bottom: 280px;
    right: 100px;
}
#unreal{
    position: relative;
    width: 59px;
    height: 64px;
    /* top: 210px;
    left: 1150px; */
    gap: 0px;
    opacity: 0px;
    bottom: 440px;
    left: 300px;
}

#cry{
    position: relative;
    width: 101px;
    height: 99px;
    /* top: 202px;
    left: 828px; */
    gap: 0px;
    opacity: 0px;
    bottom: 530px;
    right: 10px;
}

.header_container_div{
    display: flex;
          justify-content: space-between;
          align-items: center;
}
.logo{
    font-family: sixthFont; color: white; font-size: 22px;
}
.header_navbar{
    display: flex; align-items: center
}
.rectangle_container{
    display: flex;
    flex-direction: row;
    position: relative;
    left: -10px;
}
@media only screen and (max-width: 990px)  {
    .res-990{
        /* display: flex!important;
        justify-content: end!important; */
        position: absolute!important;
        right: 0;
    }
    .res-justify-end{
        justify-content: end!important;
    }
}
@media only screen and (max-width: 480px)  {
    .col-sm-6{
        width: 50%;
    }
    .res-990{
        position: relative!important;
    }
    
}
